Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
fonttools==4.58.4
latex2mathml==3.78.0
markdown2==2.5.3
pdfkit==1.0.0
pillow==11.2.1
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.2
pyphen==0.17.2
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
